<% layout('./layout/boilerplate') -%>

<body>
    <br>
    <div class="row">
        <div class="col-8 offset-2">
         <h3>Edit item</h3>
    <form method="post" action="/lists/<%= data.id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="list[title]" type="text" value="<%= data.title %>" class="form-control" required/>
<div class="valid-feedback">
      You Enter a Good Title
    </div></div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
<textarea name="list[description]" type="text"class="form-control" required><%= data.description %></textarea>
<div  class="invalid-feedback">
        Please enter description
      </div>
      </div>     
      <div class="mb-3 ">
        Original image<br>
        <img src="<%= data.image.url %>" height="150px" width="300px"/>
      </div> 

<div class="mb-3">
    <label for="image" class="form-label">Upload new image</label>
    <input name="list[image]" type="file" class="form-control" />
</div>
    <div class="row">
        <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input name="list[price]" type="number" value="<%= data.price %>" class="form-control" required/>
<div  class="invalid-feedback">
        Please Enter a valid price
      </div></div>

     
<div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>  
    <input name="list[country]" type="text" value="<%= data.country %>" class="form-control"  required/>
     <div  class="invalid-feedback">
        Please Enter a valid country
      </div>
      </div>
</div>

<div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input name="list[location]" type="text" value="<%= data.location %>"class="form-control" required/>
<div  class="invalid-feedback">
        Please Enter a valid location name
      </div></div>    
<br>
<button class="button">Edit</button>
</form>
<br>
<br>
    </div></div>
   
</body>
